.time input {
    width: 70px;
}

.text input {
    width: 350px;
}

.current input {
    background: #a6e1ec;
}

#show {
    position: relative;
    overflow: hidden;
}

#show ul {
    position: absolute
}

#show ul li {
    position: relative;
}

#show ul li .time{
    display: none;
}

#show li .mask {
    color: #f00;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
}
