<!DOCTYPE html>
<html ng-app="app">
<head lang="en">
    <meta charset="UTF-8">
    <title>Lyrics</title>
    <script type="text/javascript" src="libs/jquery.min.js"></script>
    <script type="text/javascript" src="libs/angular.js"></script>
    <script type="text/javascript" src="libs/bootstrap.min.js"></script>

    <script type="text/javascript" src="scripts/app.js"></script>

    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <link rel="stylesheet" href="styles/style.css">
    <script src="http://as-cdn-files.deezer.com/js/min/dz.js"></script>

</head>
<body ng-controller="SearchController as search">

    <div id="dz-root"></div>
    <script>
        var currentSecond = 0, totalSeconds = 0;
        window.dzAsyncInit = function() {
            DZ.init({
                appId  : 'QR3H8MYBUZDYTDWUB',
                channelUrl : 'http://localhost/karaokewebapp/channel.php',
                player: {
                    container: 'player_container',
                    onload: function(response) {
                        console.log('DZ.player is ready', response);

                        DZ.Event.subscribe('player_position', function(a, b){
                            currentSecond = a[0];
                            totalSeconds = a[1];
                            updateShow(currentSecond, totalSeconds);
                        });
                    }
                }
            });

            DZ.ready(function(sdk_options){
                console.log('DZ SDK is ready', sdk_options);
            });


        };
        (function() {
            var e = document.createElement('script');
            e.src = 'http://as-cdn-files.deezer.com/js/min/dz.js';
            e.async = true;
            document.getElementById('dz-root').appendChild(e);
        }());
    </script>

    <div>
        <form ng-submit="search.doSearch()">
            <label>Search: </label>
            <input type="text" ng-model="search.searchTitle" placeholder="Enter song title" value="Top of the world" size="50">
            <input type="text" ng-model="search.searchArtist" placeholder="Enter artist" value="Westlife" size="50">
            <input class="btn-primary" type="submit" value="search">
        </form>
        <hr>
    </div>

    <!--<iframe scrolling="no" frameborder="1" allowTransparency="true" id="player" src="" width="700" height="110"></iframe>-->
    <div id = "player_container"></div>
    <div role="tabpanel">
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation"><a href="#show-panel" aria-controls="show" role="tab" data-toggle="tab">Show</a></li>
            <li role="presentation" class="active"><a href="#lyric-panel" aria-controls="lyric" role="tab" data-toggle="tab">Lyric</a></li>
            <li role="presentation"><a href="#web-panel" aria-controls="web" role="tab" data-toggle="tab">Web</a></li>
        </ul>
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane" id="show-panel">
                <div style="width: 700px; height: 700px;" id="show">
                    <ul class="lines list-unstyled show">
                        <li ng-repeat="(id, line) in search.lines">
                            <span class="time">{{line.time}}</span>
                            <span class="text">{{line.text}}</span>
                            <span class="mask">{{line.text}}</span>
                        </li>
                    </ul>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane active" id="lyric-panel">
                <div style="width: 700px; height: 700px;" id="lyric">
                    <input type="button" id="sync" value="Sync"/>
                    <input type="button" id="save" value="Save"/>
                    <ul class="lines list-unstyled">
                        <li ng-repeat="(id, line) in search.lines" class="">
                            <form ng-submit="search.addNewLineBelow(id, $event)">
                                <span class="time"><input disabled ng-model="line.time"/></span>
                                <span class="text"><input ng-model="line.text"/></span>
                                <input type="submit" tabindex="-1" value="new" style="position:absolute; left: -10000px; width: 1px; height: 1px;">
                            </form>
                        </li>
                    </ul>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="web-panel">
                <iframe scrolling="yes" frameborder="1" allowTransparency="true" id="lyricWeb" style="width:700px; height:700px;" width="700" height="700"></iframe>
            </div>
        </div>
    </div>
</body>
</html>